.container {
    background-color: rgb(255, 249, 225);
    position: absolute;
    display: flex;
    overflow: scroll;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.content {
    position: relative;
    transform: translate(5rem, 15rem);
}

.title {
    position: relative;
    font-family: "Indie Flower";
    font-size: 8em;
}
